<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dxc.assignment.mapper.MemberMapper">
	<resultMap id="memberMap" type="dxc.assignment.model.Member">
		<id property="id" column="member_id" />
		<result property="username" column="username" />
		<result property="email" column="email" />
		<result property="passwordHash" column="password" />
		<result property="phoneNumber" column="phone_number" />
		<result property="role" column="role" />
	</resultMap>

	<select id="select" resultMap="memberMap">
		SELECT member_id, username, email, password, phone_number, role FROM members
		<if test="searchString != null">
			WHERE LOWER(email) LIKE LOWER('%' || #{serachString} || '%')
			OR LOWER(username) LIKE LOWER('%' || #{searchString} || '%')
			OR LOWER(phone_number) LIKE LOWER('%' || #{searchString} || '%')
		</if>
		ORDER BY member_id ASC;
	</select>
	
	<select id="countMembers">
		SELECT COUNT(*) FROM members
		<if test="searchString != null">
			WHERE LOWER(email) LIKE LOWER('%' || #{serachString} || '%')
			OR LOWER(username) LIKE LOWER('%' || #{searchString} || '%')
			OR LOWER(phone_number) LIKE LOWER('%' || #{searchString} || '%')
		</if>
	</select>

	<select id="selectById" resultMap="memberMap">
		SELECT member_id, username, email, password, phone_number, role
		FROM members
		WHERE members.member_id = #{id}
	</select>

	<select id="selectByEmail" resultMap="memberMap">
		SELECT member_id, username, email, password, phone_number, role
		FROM members
		WHERE members.email = #{email}
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO members(username, email, password, phone_number, role)
		VALUES(#{username},
		#{email}, #{passwordHash}, #{phoneNumber}, #{role});
	</insert>

	<update id="update">
		UPDATE members
		<set>
			username = #{username},
			phone_number = #{phoneNumber},
			role = #{role},
			<if test="password != null and password.trim() != ''">password = #{passwordHash}</if>
		</set>
		WHERE member_id = #{id}
	</update>

	<delete id="delete">
		DELETE FROM members WHERE member_id = #{id}
	</delete>
</mapper>
